<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layout/layout}">
<head>
	<title>Cadastro de Chamados</title>
	<script src="https://cdn.jsdelivr.net/gh/Atanes/Arquivos_Estaticos@master/js/jquery.mask.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/gh/Atanes/Arquivos_Estaticos@master/js/mascaras.js"></script>
  	<script th:src="@{/js/vendors/handlebars-v4.7.6.js}"></script>
	<script th:src="@{/js/cliente.pesquisa-rapida.js}"></script>
</head>

<body>
	<section class="aw-layout-content js-content layout-pagina" layout:fragment="content">
		
			<h1 class="titulo-formulario"><i class="fas fa-headset"></i>Abertura de Chamado</h1>
			
			<th:block th:insert="layout/fragments/MensagemGeral :: geral"></th:block>
			
			<form th:action="@{/chamados/salvar}" method="POST" class="form-vertical js-form-loading" 
				 th:object="${chamado}">
				
				<th:block th:insert="layout/fragments/MensagemErro :: erros"></th:block>
				
				<input type="hidden" th:field="*{equipamento}" />
				<input type="hidden" th:field="*{status}" />
				<input type="hidden" th:field="*{emissor}" />
				<input type="hidden" th:field="*{dataAbertura}" />

				<div class="form-row">
				
					<div class="col-sm-2 form-group">
						<label for="emissor">Emissor</label>
						<input id="emissor" type="text" class="form-control" th:value="*{emissor}" disabled="disabled"/>
					</div>
				
					<div class="col-sm-2 form-group">
						<label for="datahora">Data e Hora</label>
						<input id="datahora" type="text" class="form-control" th:value="${chamado.getDataFormatada()}" disabled="disabled"/>
					</div>

					<div class="col-sm-2 form-group">
						<label for="nra">Nº Chamado</label>
						<input id="nra" type="text" class="form-control" th:value="*{nra}" disabled="disabled"/>
					</div>
					
					<div class="col-sm-3 form-group">
						<label class="campo_obrigatorio" for="cbotipo">Atendimento</label>
						<select	id="cbotipo" class="form-control" th:field="*{tipo}">
							<option value="">Selecione o tipo do Atendimento</option>
							<option th:each="listaTipo: ${ListaTipos}" th:value="${listaTipo}"
								th:text="${listaTipo.descricao}">Opção 1</option>		
						</select>
					</div>
					<div class="col-sm-3 form-group">
						<label class="campo_obrigatorio" for="cbosolicitante">Solicitante</label>
						<div class="bw-field-action">
							<select	id="cbosolicitante" class="form-control" th:field="*{solicitante}" 
								onchange="try{setCustomValidity('')}catch(e){}">
								<option value="">Selecione o solicitante</option>
								<option th:each="contato: ${contatos}" th:value="${contato.nome}"
									th:text="${contato.nome}">Opção 1</option>		
							</select>
							<div id="botaoModal" class="bw-field-action__icon">
								<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoContato" title="Incluir novo contato">
									<i class="fas fa-plus-circle bw-glyphicon-large"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				
				<hr class="estilo1">
				
				<div class="form-row">
				
					<div class="form-group  col-sm-4  bw-required">
						<label class="control-label" for="nomeCliente">Cliente</label>
						<div class="input-group">
					      <input id="nomeCliente" type="text" readonly="readonly" class="form-control" placeholder="Clique na lupa para pesquisar o cliente"/>
					      <input id="codigoCliente" type="hidden"/>
					      <div class="input-group-append">
					        <button class="btn btn-outline-secondary" type="button" title="Pesquisa avançada"
					        		data-toggle="modal" data-target="#pesquisaRapidaClientes" >
					        	<i class="fas fa-search"></i>
					        </button>
					      </div>
					    </div>
					</div>
					
					<div class="col-sm-8 form-group">
						<label for="endereco">Endereço</label>
						<input id="endereco" type="text" class="form-control" 
							disabled="disabled" th:value="*{equipamento.cliente.endereco.getEndereco()}"/>
					</div>
				</div>
				
				<hr class="estilo1">
				
				<div class="form-row">
					<div class="col-sm-12 form-group">
						<label for="equipamento">Equipamento</label>
						<input id="equipamento" type="text" class="form-control" 
							disabled="disabled" th:value="${chamado.equipamento}"/>
					</div>
				</div>
				<div class="form-row">
					<div class="col-sm-12 form-group">
						<label class="campo_obrigatorio" for="descricao">Descrição</label>
						<textarea id="descricao" class="form-control" th:field="*{descricao}"></textarea>
					</div>
				</div>
				
				<hr class="estilo1">
				
				<div class="container">
					<div class="form-row justify-content-between">
						<button class="btn  btn-primary btn-sm col-sm-2" type="submit" title="Salvar">
							<i class="far fa-save"></i> Salvar
						</button>
						<button class="btn btn-info btn-sm col-sm-3" type="submit" title="Salvar e gerar atendimento"
							th:formaction="@{/chamados/salvaregeraratendimento}">
							<i class="fas fa-clipboard-check"></i> Salvar e gerar atendimento
						</button>
						<a id="btncancelar" class="btn btn-warning btn-sm col-sm-2"
							th:href="@{/chamados}" th:title="'Cancelar operação'"> 
							<i class="far fa-window-close"></i> Cancelar
						</a>
					</div>
				</div>
			</form>
			<div th:replace="chamado/cadastro-contato-modal :: modalContato"></div>
			<th:block th:replace="administracao/cliente/PesquisaRapidaClientes :: pesquisaRapidaClientes"></th:block>
	</section>
</body>
</html>