<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
	<body>
	<nav class="navbar navbar-light navbar-expand-lg justify-content-between fixed-top layout-menu" th:fragment="menusuperior">
			<div class="container">
				<a class="navbar-brand" href="/">
					<img class="logo_cliente_P" th:src="@{/images/logo_cmk.png}">
				</a>
				<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
   					<span class="navbar-toggler-icon"></span>
				</button>

				<div id="navbarSupportedContent" class="collapse navbar-collapse">

					<ul class="navbar-nav mr-auto">
						<li class="nav-item dropdown" sec:authorize="hasRole('CMK_ADMIN')">
							<a	class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">Chamados 
							</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="/administracao/clientes/equipamentos">
										<i class="fas fa-pen"></i>
										Abertura
									</a>
									<a class="dropdown-item" href="#">
										<i class="far fa-check-circle"></i>
										Validação
									</a>
									<a class="dropdown-item" href="/chamados">
										<i class="fas fa-list-ol"></i>
										Listar Chamados
									</a>
								</div>
							</li>
							<li class="nav-item dropdown" sec:authorize="hasRole('CMK_ANALISTA') or hasRole('CMK_ADMIN')">
							<a	class="nav-link dropdown-toggle" href="#" id="navbarDropdown"
								role="button" data-toggle="dropdown" aria-haspopup="true"
								aria-expanded="false">Atendimentos 
							</a>
								<div class="dropdown-menu" aria-labelledby="navbarDropdown">
									<a class="dropdown-item" href="/chamados">
										<i class="fas fa-clipboard-check"></i>
										Incluir
									</a>
									<a class="dropdown-item" href="#">
										<i class="fas fa-id-card-alt"></i>
										Atender
									</a>
									<a class="dropdown-item" href="/atendimentos">
										<i class="fas fa-list-ol"></i>
										Listar Atendimentos
									</a>
								</div>
							</li>
						<li class="nav-item dropdown" sec:authorize="hasRole('CMK_ADMIN')">
							<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
							role="button" aria-haspopup="true" aria-expanded="false">
								Relatórios
							</a>
							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/relatorio/chamados"
									target="_blank" sec:authorize="hasRole('CMK_ADMIN')">
									<i class="fas fa-headset"></i>
									Chamados
								</a>
								<a class="dropdown-item" href="/relatorio/atendimentos"
									target="_blank" sec:authorize="hasRole('CMK_ADMIN')">
									<i class="fas fa-clipboard-check"></i>
									Atendimentos
								</a>
								<a class="dropdown-item" href="/relatorio/clientes"
									target="_blank" sec:authorize="hasRole('CMK_ADMIN')">
									<i class="fas fa-address-card"></i>
									Clientes
								</a>
								<a class="dropdown-item" href="/relatorio/usuarios"
									target="_blank" sec:authorize="hasRole('CMK_ADMIN')">
									<i class="fas fa-file-pdf"></i>
									Usuários - PDF
								</a>
								<a class="dropdown-item" href="/relatorio/usuarios_Excel" target="_blank">
									<i class="fas fa-file-excel"></i>
									Usuários - Excel
								</a>
								<a class="dropdown-item" href="/relatorio/usuarios_CSV" target="_blank"> 
									<i class="fas fa-file-csv"></i>
									Usuários - CSV
								</a>
							</div>
						</li>
					
					<!-- Menu com as funções de administração do sistema -->

						<li class="nav-item dropdown" sec:authorize="hasRole('CMK_ADMIN')">
							<a	href="#" class="nav-link dropdown-toggle" data-toggle="dropdown"
								role="button" aria-haspopup="true" aria-expanded="false">
									Administração
							</a>

							<div class="dropdown-menu" aria-labelledby="navbarDropdown">
								<a class="dropdown-item" href="/administracao/usuarios">
									<i class="fas fa-users"></i>
									Listar Usuários
								</a>
								<a class="dropdown-item" href="/administracao/usuarios/novo">
									<i class="fas fa-user-plus"></i>
									Incluir Usuário
								</a>
								<a class="dropdown-item" href="/administracao/clientes">
									<i class="fas fa-address-card"></i>
									Listar Clientes
								</a>
								<a class="dropdown-item" href="/administracao/clientes/novo">
									<i class="far fa-handshake"></i>
									Incluir Cliente
								</a>
								<a class="dropdown-item" href="/administracao/clientes/equipamentos">
									<i class="fas fa-list-ol"></i>
									Listar Equipamentos
								</a>							
							</div>
						</li>
					</ul>
					<form class="form-inline my-2 my-lg-0" action="/logout" method="post">
						<i class="far fa-user-circle"></i>&nbsp;
						<span sec:authentication="name">Bob</span>&nbsp;
						<button type="submit" class="btn btn-secondary my-2 my-sm-0">
							<i class="fas fa-sign-out-alt"></i>&nbsp;Sair
						</button>

						<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
					</form>
				</div>
			</div>
		</nav>
	</body>
</html>