<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
	layout:decorate="~{layout/layout}">
<head>
	<title>Realizar Atendimento</title>
	<script src="https://cdn.jsdelivr.net/gh/Atanes/Arquivos_Estaticos@master/js/jquery.mask.min.js"></script>
  	<script src="https://cdn.jsdelivr.net/gh/Atanes/Arquivos_Estaticos@master/js/mascaras.js"></script>
	<script th:src="@{/js/iridiumit.js}"></script>
	<script type="text/javascript">
	$(document).ready(function() {
		mostraDataHoraInicioFim();
		equipApto();
		equipNaoApto();
		equipAptoResalvas();
	});
	</script>
</head>

<body>
	<section class="aw-layout-content js-content layout-pagina" layout:fragment="content">
		
			<h1 class="titulo-formulario"><i class="fa fa-clipboard-list"></i>
				Realizar Atendimento - Cliente: <span class="text-primary" th:text="${atendimento.chamado.equipamento.cliente.nome}"></span>
				- Solicitante: <span class="text-primary" th:text="${atendimento.chamado.solicitante}"></span>
				<br>Equipamento: <span class="text-primary" th:text="${atendimento.chamado.equipamento}"></span>
				- Executor: <span class="text-primary" th:text="${atendimento.executor}"></span>
				
			</h1>
			
			<th:block th:insert="layout/fragments/MensagemGeral :: geral"></th:block>
			
			<form method="POST" class="form-vertical js-form-loading" 
				 th:action="@{/tecnico/realizar/salvar}" th:object="${atendimento}">
				
				<th:block th:insert="layout/fragments/MensagemErro :: erros"></th:block>
				
				<input type="hidden" th:field="*{numero}" />
				<input type="hidden" th:field="*{chamado}" />
				<input type="hidden" th:field="*{executor}" />
				<input type="hidden" th:field="*{aprovador}" />

				<div class="form-row">
					
					<div class="col-sm-3 form-group">
						<label for="nros">Nr. OS: </label>
						<span class="text-primary" th:text="*{nros}"></span>
					</div>
					
					<div class="col-sm-3 form-group">
						<label for="tipo">Tipo: </label>
						<span class="text-primary" th:text="*{chamado.tipo}"></span>
					</div>
					
					<div class="col-sm-3 form-group">
						<label class="campo_obrigatório" for="nota">Nr. Nota: </label>
						<span class="text-primary" th:text="*{nota}"></span>
					</div>
					
					<div class="col-sm-3 form-group">
						<label class="campo_obrigatório" for="aprovador">Aprovador: </label>
						<span class="text-primary" th:text="*{aprovador}"></span>
					</div>
				
				</div>
				<h3 class="titulo-secao">Descrição: <span class="text-primary" th:text="*{chamado.descricao}"></span></h3>
				
				<div class="form-row">
				
					<div class="col-sm-3 form-group">
						<label class="campo_obrigatório" for="inicioAtendimento">Hora inicio</label>
						<input id="inicioAtendimento" type="datetime-local" class="form-control" th:field="*{inicioAtendimento}"/>
					</div>
					<div class="col-sm-3 form-group">
						<label class="campo_obrigatório" for="fimAtendimento">Hora fim</label>
						<input id="fimAtendimento" type="datetime-local" class="form-control" th:field="*{fimAtendimento}"/>
					</div>
				
					<div class="col-sm-6 form-group">
						<label class="campo_obrigatório" for="diagnostico">Diagnostico</label>
						<textarea id="diagnostico" class="form-control" th:field="*{diagnostico}"></textarea>
					</div>
				</div>
				
				<div class="form-row">
					
					<div class="col-sm-6 form-group">
						<label class="campo_obrigatório" for="servicos">Serviços realizados</label>
						<textarea id="servicos" class="form-control" th:field="*{servicos}"></textarea>
					</div>
					
					<div class="col-sm-6 form-group">
						<label class="campo_obrigatório" for="observacoes">Observações</label>
						<textarea id="observacoes" class="form-control" th:field="*{observacoes}"></textarea>
					</div>
								
				</div>
				
				<h4 class="titulo-secao text-primary">Status equipamento após atendimento</h4>
				
				<div class="form-row">
					<div class="col-sm-3">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="mparada"
								th:field="*{mparada}" onchange="mostraDataHoraInicioFim(this)">
							<label class="form-check-label"	for="mparada"> Máquina Parada </label>
						</div>
					</div>
					
					<div id="mparadadatahora" class="col-sm-3">
						<div class="form-group">
							<label class="campo_obrigatorio" for="mparadaDataHora">Data e hora da parada</label>
							<input id="mparadaDataHora" type="datetime-local" class="form-control"
								th:field="*{mparadaDataHora}" required="required"/>
						</div>
					</div>
					
					<div id="mliberadadatahora" class="col-sm-3">
						<div class="form-group">
							<label class="campo_obrigatorio" for="mliberadaDataHora">Data e hora da liberação</label>
							<input id="mliberadaDataHora" type="datetime-local" class="form-control"
								th:field="*{mliberadaDataHora}" />
						</div>
					</div>
					
					<div class="col-sm-3">
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="apto"
								th:field="*{apto}" onchange="equipApto(this)">
							<label class="form-check-label"	for="apto"> Apto para operar </label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="aptocomresalvas"
								th:field="*{aptocomresalvas}" onchange="equipAptoResalvas(this)">
							<label class="form-check-label"	for="aptocomresalvas"> Apto com resalvas </label>
						</div>
						<div class="form-check">
							<input class="form-check-input" type="checkbox" id="naoapto"
								th:field="*{naoapto}" onchange="equipNaoApto(this)">
							<label class="form-check-label"	for="naoapto"> Não apto </label>
						</div>
					</div>
					
					<div id="mostraResalvas" class="form-group col-sm-6">
						<label class="campo_obrigatório" for="resalvas">Ressalvas ou Justificativas</label>
						<textarea id="resalvas" class="form-control" th:field="*{resalvas}"></textarea>
					</div>
					
					<div id="mostraNaoApto" class="form-group col-sm-6">
						<label class="campo_obrigatório" for="ObsNaoApto">Especificar claramente o defeito que caracteriza o NÃO APTO</label>
						<textarea id="ObsNaoApto" class="form-control" th:field="*{ObsNaoApto}"></textarea>
					</div>
					
				</div>
				<div class="form-row">
				<div class="col-sm-3 form-group">
						<label class="titulo-secao text-primary" for="cbosolicitante">Atendimento acompanhado por</label>
						<div class="bw-field-action">
							<select	id="cbosolicitante" class="form-control" th:field="*{acompanhante}" 
								onchange="try{setCustomValidity('')}catch(e){}">
								<option value="">Selecione o acompanhante</option>
								<option th:each="contato: ${contatos}" th:value="${contato.nome}"
									th:text="${contato.nome}">Opção 1</option>		
							</select>
							<div id="botaoModal" class="bw-field-action__icon">
								<a href="#" data-toggle="modal" data-target="#modalCadastroRapidoContato" title="Incluir novo contato">
									<i class="fas fa-plus-circle bw-glyphicon-large"></i>
								</a>
							</div>
						</div>
					</div>
				</div>
				
				<div class="container">
					<div class="form-row justify-content-between">
						<button class="btn  btn-primary btn-sm col-sm-2" type="submit" title="Salvar">
							<i class="far fa-save"></i> Salvar
						</button>
						<a id="btncancelar" class="btn btn-warning btn-sm col-sm-2"
							th:href="@{/tecnico/pendencias}" th:title="'Cancelar operação'"> 
							<i class="far fa-window-close"></i> Cancelar
						</a>
					</div>
				</div>
			</form>
			<div th:replace="chamado/cadastro-contato-modal :: modalContato"></div>
	</section>
</body>
</html>