<!DOCTYPE html>
<html lang="pt" xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout/layout}">
<head>
</head>

<body>
	<section class="aw-layout-content js-content" layout:fragment="content">
		<div class="content center">
			<div class="layout-pagina">
				<div class="page-header">
					<div>
						<a href="https://cmk.com.br/"> <img alt="Pet Shop Teste"
							th:src="@{/images/logo-cmk.png}" />
						</a>
					</div>
					<h3>
						Olá, <span th:text="${#authentication.principal.usuario.nome}">Bob</span>
						, seja muito bem vindo ao sistema da CMK!
					</h3>
					<p>Use o menu acima para navegar.</p>
				</div>
			</div>
		</div>
	</section>
</body>
</html>